<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Support both HTTP and HTTPS -->
        <rewrite>
            <rules>
                <!-- Allow HTTP traffic -->
                <rule name="Allow HTTP" stopProcessing="false">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="None" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- CORS Headers for HTTP and HTTPS -->
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
                <add name="Access-Control-Allow-Credentials" value="true" />
            </customHeaders>
        </httpProtocol>
        
        <!-- Static content MIME types -->
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
            <mimeMap fileExtension=".js" mimeType="text/javascript" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>
        
        <!-- Cache control -->
        <caching>
            <profiles>
                <add extension=".css" policy="CacheUntilChange" />
                <add extension=".js" policy="CacheUntilChange" />
                <add extension=".json" policy="DontCache" />
                <add extension=".html" policy="DontCache" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
